/*
 * Copyright (c) 2026 Tenstorrent AI ULC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	mbox-consumer {
		compatible = "vnd,mbox-consumer";
		mboxes = <&mbox0 0>, <&mbox0 1>;
		mbox-names = "tx", "rx";
	};

	soc {
		msgqueue_info: scratch-reg@c0010100 {
			compatible = "tenstorrent,scratch-reg";
			reg = <0x0 0xc0010100 0x0 0x4>;
			status = "okay";
		};
	};
};
